/* header */

.banner{
    background: rgb(198, 228, 214);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 120px;
    height: 530px;
    gap: 50px;
    padding: 64px 80px 64px 80px;

    

}


.title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.description{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 46px;
    font-weight: 560px;
    text-align: left;
    padding-top: 0px;
}

.btn-primary{
    background: rgb(0, 106, 80);
    border-radius: 8px;
    height: 55px;
    width: 250px;
    border: none;
   
}

.explore{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 500;
   padding-bottom: 10px 25px;

}


/* main styles */

.vision{
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 64px 130px 64px 130px;
}

.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding: 0px;
    gap: 20px;
    
    
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 24px;

}

.vision-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.card1{
    background: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    height: 260px;
    /* width: 380px; */
    padding: 26px;

}

.card-heading{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    gap: 10px;
    
}

.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    gap: 10px;
}

.card1-button{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    height: 32px;
    /* width: 98px; */
}


.card2{
    background: rgb(198, 228, 214);
    border-radius: 16px;
    height: 260px;
    /* width: 380px; */
    padding: 26px;
}

.card2-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    
}

.card2-button{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    height: 32px;
    gap: 48px;
}

.card3{
    background: rgb(247, 235, 207);
    border-radius: 16px;
    height: 260px;
    /* width: 380px; */
    padding: 26px;
}

.card3-button{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
    height: 32px;
    width: 98px;
}

.quote{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    height: 205px;
    /* width: 1200px; */
    background: rgb(255, 255, 255);
    padding: 50px 24px 48px 24px;
    
    
}

.Dr-Yunus{

    background-image:url(../images/assets/quote-bg.png) ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
   
   
}

.Dr-speech{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    gap: 10px;
    padding: 0px;
    
    
}

.Dr-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
    gap: 4px;
    margin: 0px;
}

.designation{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    gap: 4px;
    padding: 0px;
    margin: 0px;
}

/* news section */

.news{
    height: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 64px 130px 64px 130px;
    padding-top: 120px;
}

.news-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}

.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

.news-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding:40px ;
    gap: 26px;
}

.image{
    border-radius: 24px;
}

.satelite-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    margin: 12px 0px;
    gap: 12px;

}

.date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans; 
    font-size: 16px; 
    font-weight: 400;
    text-align: left;
    gap: 12px;
    margin: 12px 0px;
}

.satelite-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans; 
    font-size: 16px; 
    font-weight: 400;
    text-align: left;
    gap: 12px;
    /* margin: 12px 0px; */
}

.satelite-button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    height: 32px;
    /* gap: 48px;  */
}

.text{
    
    color: rgb(255, 255, 255);
    margin:  5px;
       
}




